Tarea: Proyecto I. Parte 2 (Core)
Nombre: Luciano Benjamín Recalde Carballo

Cargar los Datos

In [16]:
import pandas as pd
df = pd.read_csv('data/retail_sales_dataset.csv')

# Ver las primeras filas del DataFrame
print("Primeras filas del DataFrame:")
print(df.head(10))

Primeras filas del DataFrame:
   Transaction ID        Date Customer ID  Gender  Age Product Category  \
0               1  2023-11-24     CUST001    Male   34           Beauty
1               2  2023-02-27     CUST002  Female   26         Clothing
2               3  2023-01-13     CUST003    Male   50      Electronics
3               4  2023-05-21     CUST004    Male   37         Clothing
4               5  2023-05-06     CUST005    Male   30           Beauty
5               6  2023-04-25     CUST006  Female   45           Beauty
6               7  2023-03-13     CUST007    Male   46         Clothing
7               8  2023-02-22     CUST008    Male   30      Electronics
8               9  2023-12-13     CUST009    Male   63      Electronics
9              10  2023-10-07     CUST010  Female   52         Clothing

   Quantity  Price per Unit  Total Amount
0         3              50           150
1         2             500          1000
2         1              30            30
3         1             500           500
4         2              50           100
5         1              30            30
6         2              25            50
7         4              25           100
8         2             300           600
9         4              50           200

Exploración Inicial de los Datos

In [17]:
# Ver últimas filas del DataFrame
print("Últimas filas del DataFrame:")
print(df.tail(5))
# Obtener información general sobre el DataFrame
print("Información del DataFrame:")
print(df.info())
# Generar estadísticas descriptivas
print("Estadísticas descriptivas del DataFrame:")
print(df.describe())

Últimas filas del DataFrame:
     Transaction ID        Date Customer ID  Gender  Age Product Category  \
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
995         1              50            50
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120
Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB
None
Estadísticas descriptivas del DataFrame:
       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

Inspección de los Datos

In [18]:
# Inspeccionar los tipos de datos de las columnas
print("Tipos de datos de las columnas:")
print(df.dtypes)

# Contar valores únicos en una columna específica
print("Conteo de valores únicos en la columna 'Product Category':")
print(df['Product Category'].value_counts())

# Obtener valores únicos en una columna específica (se usa Gender, por que el dataset no coincide con lo que pide el ejercicio)
print("Valores únicos en la columna 'Gender':")
print(df['Gender'].unique())

Tipos de datos de las columnas:
Transaction ID       int64
Date                object
Customer ID         object
Gender              object
Age                  int64
Product Category    object
Quantity             int64
Price per Unit       int64
Total Amount         int64
dtype: object
Conteo de valores únicos en la columna 'Product Category':
Product Category
Clothing       351
Electronics    342
Beauty         307
Name: count, dtype: int64
Valores únicos en la columna 'Gender':
['Male' 'Female']

Filtrado de Datos

In [19]:
# Filtrar ventas > 50 
ventas_mayor_50 = df[df['Quantity'] > 3]  #se cambia el filtrado por 3, ya que el dataset no está diseçado para este ejercicio. Jamás se llega a ventas superiores a 50 unidades.
print("Filtrar ventas > 3")
print(ventas_mayor_50)

# Filtrar precio > 0.5
precio_menor_05 = df[df['Price per Unit'] < 30] #se cambia el filtrado por 10, mis razón que arriba. Los precios del enunciado son muy bajos en comparación a los precios del dataset.
print("Precios menores a 30")
print(precio_menor_05)

# Método Query para categoria electrónica y cantidad total mayor a 500. El queryset original del ejercicio no coincide con el enunciado
query_result = df.query('`Product Category` == "Electronics" & `Total Amount` > 500')
print("Query de Productos de electrónica con monto total superior a 500")
print(query_result)

Filtrar ventas > 3
     Transaction ID        Date Customer ID  Gender  Age Product Category  \
7                 8  2023-02-22     CUST008    Male   30      Electronics
9                10  2023-10-07     CUST010  Female   52         Clothing
13               14  2023-01-17     CUST014    Male   64         Clothing
14               15  2023-01-16     CUST015  Female   42      Electronics
16               17  2023-04-22     CUST017  Female   27         Clothing
..              ...         ...         ...     ...  ...              ...
970             971  2023-12-05     CUST971  Female   27      Electronics
971             972  2023-02-11     CUST972    Male   49           Beauty
974             975  2023-03-30     CUST975  Female   56         Clothing
997             998  2023-10-29     CUST998  Female   23           Beauty
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
7           4              25           100
9           4              50           200
13          4              30           120
14          4             500          2000
16          4              25           100
..        ...             ...           ...
970         4              50           200
971         4              25           100
974         4              50           200
997         4              25           100
999         4              30           120

[263 rows x 9 columns]
Precios menores a 30
     Transaction ID        Date Customer ID  Gender  Age Product Category  \
6                 7  2023-03-13     CUST007    Male   46         Clothing
7                 8  2023-02-22     CUST008    Male   30      Electronics
11               12  2023-10-30     CUST012    Male   35           Beauty
16               17  2023-04-22     CUST017  Female   27         Clothing
17               18  2023-04-30     CUST018  Female   47      Electronics
..              ...         ...         ...     ...  ...              ...
979             980  2023-07-29     CUST980  Female   31      Electronics
984             985  2023-05-30     CUST985  Female   19      Electronics
987             988  2023-05-28     CUST988  Female   63         Clothing
988             989  2023-12-28     CUST989  Female   44      Electronics
997             998  2023-10-29     CUST998  Female   23           Beauty

     Quantity  Price per Unit  Total Amount
6           2              25            50
7           4              25           100
11          3              25            75
16          4              25           100
17          2              25            50
..        ...             ...           ...
979         3              25            75
984         2              25            50
987         3              25            75
988         1              25            25
997         4              25           100

[210 rows x 9 columns]
Query de Productos de electrónica con monto total superior a 500
     Transaction ID        Date Customer ID  Gender  Age Product Category  \
8                 9  2023-12-13     CUST009    Male   63      Electronics
12               13  2023-08-05     CUST013    Male   22      Electronics
14               15  2023-01-16     CUST015  Female   42      Electronics
25               26  2023-10-07     CUST026  Female   28      Electronics
30               31  2023-05-23     CUST031    Male   44      Electronics
..              ...         ...         ...     ...  ...              ...
926             927  2023-06-24     CUST927    Male   43      Electronics
945             946  2023-05-08     CUST946    Male   62      Electronics
953             954  2023-09-25     CUST954  Female   50      Electronics
965             966  2023-02-20     CUST966    Male   60      Electronics
969             970  2023-05-16     CUST970    Male   59      Electronics

     Quantity  Price per Unit  Total Amount
8           2             300           600
12          3             500          1500
14          4             500          2000
25          2             500          1000
30          4             300          1200
..        ...             ...           ...
926         4             500          2000
945         4             500          2000
953         3             300           900
965         2             500          1000
969         4             500          2000

[100 rows x 9 columns]

Slicing de Datos

In [20]:
# Seleccionar solo categoria y monto total
sliced_columns = df[['Product Category', 'Total Amount']]
print("Seleccionar solo Categoria y ventas globales")
print(sliced_columns)

# Seleccionar filas y columnas específicas con loc
loc_result = df.loc[5:10, ['Product Category', 'Age']]
print("Visualizar de la columna 5 a la 10, los datos de Nombre y genero")
print(loc_result)

# Seleccionar las primeras 5 columnas y 3 filas del dt
iloc_result = df.iloc[0:5, 0:3]
print("Visualizar 5 primeras filas y 3 primeras columnas")
print(iloc_result)

Seleccionar solo Categoria y ventas globales
    Product Category  Total Amount
0             Beauty           150
1           Clothing          1000
2        Electronics            30
3           Clothing           500
4             Beauty           100
..               ...           ...
995         Clothing            50
996           Beauty            90
997           Beauty           100
998      Electronics           150
999      Electronics           120

[1000 rows x 2 columns]
Visualizar de la columna 5 a la 10, los datos de Nombre y genero
   Product Category  Age
5            Beauty   45
6          Clothing   46
7       Electronics   30
8       Electronics   63
9          Clothing   52
10         Clothing   23
Visualizar 5 primeras filas y 3 primeras columnas
   Transaction ID        Date Customer ID
0               1  2023-11-24     CUST001
1               2  2023-02-27     CUST002
2               3  2023-01-13     CUST003
3               4  2023-05-21     CUST004
4               5  2023-05-06     CUST005